.cartitems {
    margin: 50px 20px; /* Adjust margin for better spacing on smaller screens */
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px; /* Adjust gap for better spacing on smaller screens */
    padding: 10px 0px; /* Adjust padding for better spacing on smaller screens */
    color: #454545;
    font-size: 16px; /* Adjust font size for smaller screens */
    font-weight: 600;
}

.cartitems-format {
    font-size: 15px; /* Adjust font size for smaller screens */
    font-weight: 500;
}

.carticon-product-icon {
    height: 42px; /* Adjust image size for smaller screens */
}

.carticon-remove-icon {
    width: 12px;
    margin: 0px 20px; /* Adjust margin for better spacing on smaller screens */
    cursor: pointer;
}

.cartitems-quantity {
    width: 44px;
    height: 40px;
    border: 2px solid #ebebeb;
    background: #3fff;
}

.cartitems-down {
    display: flex;
    flex-direction: column; /* Change to column layout for smaller screens */
    margin: 50px 0px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Adjust margin for better spacing on smaller screens */
    gap: 20px; /* Adjust gap for better spacing on smaller screens */
}

.cartitems-total-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px; /* Adjust padding for better spacing on smaller screens */
}

.cartitems-down button {
    width: 150px;
    margin: auto; 
}

.cartitems-promocode {
    flex: 1;

    font-size: 14px; /* Adjust font size for smaller screens */
}

.cartitems-promobox {
    width: 200px;
    margin-top: 10px; /* Adjust margin for better spacing on smaller screens */
    padding-left: 10px; /* Adjust padding for better spacing on smaller screens */
    height: 40px; /* Adjust height for smaller screens */
    /* margin-left: auto; */
    margin-bottom: 30px;
}

.cartitems-promobox input {
    width: 70%; /* Adjust input width for smaller screens */
}

.cartitems-promobox button {
    width: 30%; /* Adjust button width for smaller screens */
}
